.component {
  margin: 20px auto;
  max-width: 1500px;
}

.headerText{
  max-width: 1020px;
  padding: 10px;
  margin: 30px auto 50px;
  
}

.headerText .top {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #8F48F1;
}

.headerText .description {
  
  font-size: 1.2em;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.container .widget-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 697px;
  max-width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 680px) {
  .container {
    padding: 0;
  }
  
 
}

@media screen and (max-width: 1394px){
    .headerText{
        max-width: 680px;
      }

}
