<div class="component">
  <div class="headerText">
    <div class="top">HiGeorge Data Viz Library</div>
    <div class="description">
      Expand your breadth of coverage using AI-powered visual journalism.
      Our embeddable and interactive data visualizations can be freely used and embedded into publisher websites. No
      strings attached.
      They transform passive readers into active participants by allowing them to take actions all without leaving the
      page and can be adapted to all storylines. <br><br>
      For any customization or if you want to explore using our data visualizations for shared monetization
      opportunities reach out
      to <a href="mailto:partnerships@reconnectinglabs.com">our partnerships team</a>.
    </div>
    <div class="search">
      <div class="field">
        <label>Seach Library</label>
        <input #tags (input)="searchByTags(tags.value)" />
      </div>
      <div class="field">
        <label>Issue</label>
        <select #storyline (input)="searchByStoryline(storyline.value)">
          <option value=''>All</option>
          <option *ngFor="let op of searchOptions.storylines" [value]="op.value">{{op.label}}</option>
        </select>
      </div>
      <div class="field">
        <label>Location</label>
        <select #location (input)="searchByLocation(location.value)">
          <option value=''>All</option>
          <option *ngFor="let op of searchOptions.locations" [value]="op.value">{{op.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngFor="let embed  of embedList; let idx = index;" class="widget-box">
      <app-widget-card [campaignID]="getJSON(embed)._id.$oid" [embedTitle]="getJSON(embed).embed_title_in_library"
        [embedSubtitle]="getJSON(embed).embed_subtitle_in_library" [embedDescription]="getJSON(embed).embed_description_in_library"
        (copyEmbedCode)="embedCopied($event)" *ngIf="idx < limit"></app-widget-card>
    </div>
  </div>
</div>