.component {
  margin: 20px auto;
  max-width: 1500px;
}

.headerText{
  max-width: 1020px;
  padding: 10px;
  margin: 30px auto 50px;
}

.headerText .top {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #8F48F1;
}

.headerText .description {
  font-size: 1.2em;
}

.headerText .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerText .search > .field {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 30%;
}

.headerText .search > .field label {
  margin-bottom: 5px;
}

.headerText .search > .field input {
  height: 25px;
  padding: 0 5px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.headerText .search > .field select {
  display: block;
  color: #444;
  line-height: 25px;
  width: 100%;
  appearance: none;

  padding: 0 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.container .widget-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 697px;
  max-width: 100%;
  margin-bottom: 30px;
}

@media screen and (max-width: 680px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 1394px){
  .headerText{
    max-width: 680px;
  }
}
