<div class="col">
  <app-header [active]="0"></app-header>
  <div class="main-content col">
    <div class="section-one">
      <div class="container row justify-center">
        <h2 class="page-title">How it works</h2>
      </div>
    </div>

    <div class="section-two">
      <div class="contents row justify-between align-start">
        <div class="section-content col">
          <div class="step row align-start">
            <div class="number row justify-center">1</div>
            <div class="step-content col flex-1">
              <div class="title">Find the visualizations that goes with your story</div>
              <div class="desc">
                Pick from different visualization styles and options.
                Our library has many visualizations based on current on going topics. 
              </div>
              <div class="links row">
                <app-button color="blue">See our library</app-button>
              </div>
            </div>
          </div>
          <div class="step row align-start">
            <div class="number row justify-center">2</div>
            <div class="step-content col flex-1">
              <div class="title">Easily add them to your article</div>
              <div class="desc">
                Easily add our dynamic visualizations to your articles or
                use a share link to share any visualization directly to social media.
              </div>
              <div class="links row">
                <app-button color="blue">See Sample Articless</app-button>
              </div>
            </div>
          </div>
          <div class="step row align-start">
            <div class="number row justify-center">3</div>
            <div class="step-content col flex-1">
              <div class="title">Watch usability grow</div>
              <div class="desc">
                An easy way to supplement a wide array of articles with rich data interactives.
                We are 100% free for publishers, includes the necessary datasets,
                and requires no coding whatsoever.
              </div>
              <div class="percents row">
                <div class="col">
                  <span>Up to</span>
                  <h4 class="page-title">33%+</h4>
                  <span>More Engagement</span>
                </div>
                <div class="col">
                  <span>Up to</span>
                  <h4 class="page-title">-10%</h4>
                  <span>Bounce Rate Reduction</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="images">
          <img src="assets/images/how-it-works/1.png" />
          <img src="assets/images/how-it-works/2.png" />
        </div>
      </div>
    </div>

    <div class="section-three">
      <app-touch-panel></app-touch-panel>
    </div>
  </div>
  <app-footer></app-footer>
</div>
