<div class="col">
  <app-header [active]="0"></app-header>
  <div class="main-content col">
    <div class="section-one">
      <div class="container row justify-center">
        <h2 class="page-title">How it works</h2>
      </div>
    </div>

    <div class="section-two">
      <div class="contents row justify-between align-start">
        <div class="section-content col">
          <div class="step row align-start">
            <div class="number row justify-center">1</div>
            <div class="step-content col flex-1">
              <div class="title">Find the perfect visualization for your story</div>
              <div class="desc">
                Our library contains a wide range of visualizations based on popular storylines and ongoing issues. 
                You can search through the library by keyword, topic, or location to find the perfect visualization for your story. 
              </div>
              <div class="links row">
                <app-button url="/visualizations" color="blue">See our library</app-button>
              </div>
            </div>
          </div>
          <div class="step row align-start">
            <div class="number row justify-center">2</div>
            <div class="step-content col flex-1">
              <div class="title">Add the visualization to your article</div>
              <div class="desc">
                Add the visualization to your article by simply copying-and-pasting an embed code. 

              </div>
              <div class="links row">
                <app-button url="/success-stories" color="blue">See Sample Articles</app-button>
              </div>
            </div>
          </div>
          <div class="step row align-start">
            <div class="number row justify-center">3</div>
            <div class="step-content col flex-1">
              <div class="title">Watch usability grow</div>
              <div class="desc">
                That’s it! Now you can watch engagement grow as readers interact with our dynamic visualizations.
              </div>
              <!--<div class="percents row">
                <div class="col">
                  <span>Up to</span>
                  <h4 class="page-title">33%+</h4>
                  <span>More Engagement</span>
                </div>
                <div class="col">
                  <span>Up to</span>
                  <h4 class="page-title">-10%</h4>
                  <span>Bounce Rate Reduction</span>
                </div>
              </div>-->
            </div>
          </div>
        </div>
        <div class="images">
          <img src="assets/images/how-it-works/1.png" />
          <img src="assets/images/how-it-works/2.png" />
        </div>
      </div>
    </div>

    <div class="section-three">
      <app-touch-panel></app-touch-panel>
    </div>
  </div>
  <app-footer></app-footer>
</div>
