<div class="component">
  <div class="contents col">
    <div class="titles row align-start">
      <div class="col flex-1">
        <h5 class="text-white">Getting started is easy!</h5>
        <h5 class="text-red">Get in touch</h5>
      </div>
      <div class="col contact">
        <div class="text-white">Contact</div>
        <div class="address col">
          <span>HiGeorge (c/o Reconnecting Labs)</span>
          <span>2443 Fillmore St #380-9884</span>
          <span>San Francisco, CA 94115</span>
        </div>
        <div class="mail">hello@reconnectinglabs.com</div>
      </div>
    </div>
    <div class="socials row">
      <a class="row" href="https://www.facebook.com" (click)="clickSocial('facebook')">
        <img src="assets/images/icons/facebook.svg" />
      </a>
      <a class="row" href="https://www.twitter.com" (click)="clickSocial('twitter')">
        <img src="assets/images/icons/twitter.svg" />
      </a>
      <a class="row" href="https://www.twitter.com" (click)="clickSocial('share_link')">
        <img src="assets/images/icons/link.svg" />
      </a>
      <a class="row" href="https://www.twitter.com" (click)="clickSocial('email')">
        <img src="assets/images/icons/mail.svg" />
      </a>
    </div>
    <div class="links row">
      <span>© HiGeorge 2020</span>
      <span>|</span>
      <a (click)="clickLink('privacy_policy')">Privacy Policy</a>
      <span>|</span>
      <a (click)="clickLink('terms_of_service')">Terms of Service</a>
    </div>
  </div>
</div>