<div class="component">
  <div class="contents col">
    <div class="titles row align-start">
      <div class="col flex-1">
        <h5 class="text-white">Getting started is easy!</h5>
        <h5>
          <a class="text-red" [routerLink]="['/contact']">Get in touch</a>
        </h5>
      </div>
      <div class="col contact">
        <div class="text-white">Contact</div>
        <div class="address col">
          <span>HiGeorge (c/o Reconnecting Labs)</span>
          <span>2443 Fillmore St #380-9884</span>
          <span>San Francisco, CA 94115</span>
        </div>
        <div class="mail">hello@reconnectinglabs.com</div>
      </div>
    </div>
    <div class="socials row">
      <a class="row" href="https://www.facebook.com/HiGeorgeCo" (click)="clickSocial('facebook')">
        <img src="assets/images/icons/facebook.svg" />
      </a>
      <a class="row" href="https://twitter.com/higeorgeco" (click)="clickSocial('twitter')">
        <img src="assets/images/icons/twitter.svg" />
      </a>
      <a class="row" href="https://www.instagram.com/higeorgeco/" (click)="clickSocial('instagram')">
        <img src="assets/images/icons/instagram.svg" />
      </a>
    </div>
    <div class="links row">
      <span>© HiGeorge 2020</span>
      <span>|</span>
      <a style="text-decoration: none;"(click)="clickLink('privacy_policy')" href="/privacy">Privacy Policy</a>
      <span>|</span>
      <a style="text-decoration: none;" (click)="clickLink('terms_of_service')" href="/tos">Terms of Service</a>
    </div>
  </div>
</div>