@import '../../../assets/colors';
@import '../../../assets/breakpoints';




:host {
  .title {
    font-family: PlayfairDisplay-Bold;
    font-size: 39px;
    line-height: 52px;
    color: $color-title-blue;
  }

  .desc {
    font-family: Lato;
    font-size: 18px;
    line-height: 29px;
    color: $color-text-blue;
  }

  

  .page-title {
    font-family: PlayfairDisplay-Bold;
    font-size: 59px;
    line-height: 79px;
    color: $color-title-purple;
    margin: 0;
  }

  .main-content {
    overflow: hidden;

    .section-one {
      padding: 0 16px;

      .container {
        height: 280px;
        background-color: $color-bg-purple;
      }
    }

    .section-two {
      padding: 120px 24px 60px;

      .slim-contents {
        .section-content {
          width: 40%;

          .title {
            margin-bottom: 16px;
          }

          .desc {
            margin-bottom: 24px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .images {
          width: 40%;
        }
      }
    }

    .section-three {
      padding: 0 16px;

      .container {
        background-color: $color-bg-purple;
        padding: 80px 0;

        .slim-contents {
          .section-content {
            width: 40%;

            .title {
              margin-bottom: 16px;
            }

            .desc {
              margin-bottom: 24px;
            }
          }

          .profiles {
            width: 50%;

            .profile {
              margin-top: 50px;
              font-family: Lato;
              color: $color-text-blue;

              img {
                margin-right: 60px;
                display: block;
                width: 130px;
                height: 130px;
                border-radius: 50%;
              }

              .name,
              .pos {
                font-size: 18px;
                line-height: 29px;
              }

              .name {
                font-family: Lato-Bold;
              }

              p {
                margin-top: 12px;
                font-size: 14px;
                line-height: 22px;
                font-style: italic;
              }
            }
          }
        }
      }
    }

    .section-four {
      padding: 60px 24px;

      .slim-contents {
        .section-content {
          width: 40%;

          .desc {
            margin-top: 24px;
            color: $color-text-purple;
          }
        }

        .positions {
          min-width: 635px;
          max-width: 635px;
          margin-right: -30%;
          margin-left: 10%;

          .position {
            padding: 30px 35px 15px;
            width: 310px;
            height: 228px;
            box-shadow: 1px 1px 64px 0 rgba(57,49,216,0.18);
            font-family: Lato;
            font-size: 16px;
            line-height: 24px;

            .name {
              margin-bottom: 12px;
              font-family: Lato-Bold;
              font-size: 23px;
              line-height: 28px;
              color: $color-text-blue;
            }

            p {
              color: $color-text-purple;
              margin: 0;
            }

            a {
              color: $color-text-red;
              text-decoration: none;
            }
          }
        }
      }
    }

    .section-five {
      padding: 0 24px;
      margin-bottom: 30px;
    }
  }

  @include md {
    .page-title {
      font-size: 29px;
      line-height: 38px;
    }

    .title {
      font-size: 27px;
      line-height: 37px;
    }

    .desc {
      font-size: 13px;
      line-height: 21px;
    }

    .main-content {
      .section-one {
        .container {
          height: 160px;
        }
      }

      .section-two {
        padding-top: 50px;
        padding-bottom: 50px;

        .slim-contents {
          .section-content {
            padding-top: 0;
            width: unset;
          }

          .images {
            display: none;
          }
        }
      }

      .section-three {
        .container {
          padding: 50px 20px;

          .slim-contents {
            flex-direction: column;

            .section-content {
              margin-right: 0;
              width: unset;
            }

            .profiles {
              margin: 0;
              width: unset;

              .profile {
                margin-top: 20px;

                img {
                  width: 80px;
                  height: 80px;
                  margin-right: 10px;
                }

                .name,
                .pos {
                  font-size: 16px;
                  line-height: 20px;
                }

                p {
                  font-size: 12px;
                  line-height: 18px;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      .section-four {
        .slim-contents {
          flex-direction: column;

          .section-content {
            width: unset;
          }

          .positions {
            flex-direction: column;
            margin: 0;
            min-width: unset;
            max-width: unset;

            .position {
              width: 100%;
              height: 180px;
              margin-top: 24px;

              .name {
                font-size: 16px;
                line-height: 20px;
              }

              p {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 0;
              }

              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
