<div class="col">
  <app-header [active]="2"></app-header>
  <div class="main-content col">
    <div class="section-one">
      <div class="container row justify-center">
        <h2 class="page-title">Company</h2>
      </div>
    </div>

    <div class="section-two">
      <div class="slim-contents row justify-between align-start">
        <div class="section-content col">
          <div class="title">Our Story
          </div>
          <p class="desc">
            HiGeorge was born from our own experiences and observations as readers. We wanted all news publishers, not only the largest ones, to be able to impactfully use data journalism and visualizations in their reporting. 
          </p>
            <p class="desc">
            So, at HiGeorge, we create engaging, interactive, and contextual data visualizations to help newsrooms better leverage data for their readers. We make sense of data so publishers don’t have to. 
          </p>
            <p class="desc">
            By supporting and strengthening publishers across the country, we aim to help ensure that all readers can be well-informed about their own communities. 
            
          </p>
       
        </div>
        <div class="images">
          <img src="assets/images/company/bg.svg" />
        </div>
      </div>
    </div>

    <div class="section-three">
      <div class="container">
        <div class="slim-contents row justify-between">
          <div class="section-content col">
            <div class="title">Leadership</div>
            <p class="desc">
              HiGeorge was founded by Anuj Saigal, Amir Zohrenejad, and Jon Tien. 
            </p>
            <p class="desc">
              The company is supported by a seasoned advisory board that consists of executives
              from top organizations in media, advocacy, and technology.
            </p>
          </div>
          <div class="profiles col">
            <div class="profile row">
              <img src="assets/images/company/anuj.png">
              <div class="col">
                <span class="name">Anuj Saigal</span>
                <span class="pos">CEO & CO-FOUNDER</span>
                <p>
                  JPMorgan, Nauto (Greylock-backed AI startup),<br/>
                  Northwestern Kellogg MBA UC Berkeley Economics]
                </p>
              </div>
            </div>
            <div class="profile row">
              <img src="assets/images/company/amir.png">
              <div class="col">
                <span class="name">Amir Zohrenejad</span>
                <span class="pos">CTO & CO-FOUNDER</span>
                <p>
                  Microsoft<br/>
                  UC Berkeley Engineering
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-four">
      <div class="slim-contents row">
        <div class="section-content col">
          <div class="title">Careers</div>
          <p class="desc">
            Passionate about building and deploying next generation technology
            in a mission-driven organization? If so, let's talk.
          </p>
          <p class="desc">
            We are looking for “athletes,” with the ability to carry out multiple functions.
            We place the highest priority on those who want to learn and work hard,
            rather than years of experience.
          </p>
        </div>
        <div class="positions row justify-between">
          <div class="position col justify-between align-start">
            <div class="col">
              <span class="name">Front-End Software Developer</span>
              <p>
                Design efficient and reusable front-end systems that
                drive complex web applications.
              </p>
            </div>
            <a style="visibility:hidden" href="#" (click)="trackClick('job_details', 'frontend_dev')">Details</a>
          </div>
          <div class="position col justify-between align-start">
            <div class="col">
              <span class="name">Marketing Manager</span>
              <p class="job-desc">
                Plan and execute digital marketing, email, social media campaigns.
                Track performance of all digital marketing campaigns.
              </p>
            </div>
            <a href="#" style="visibility:hidden" (click)="trackClick('job_details', 'marketing_manager')">Details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-five">
      <app-touch-panel></app-touch-panel>
    </div>
  </div>
  <app-footer></app-footer>
</div>
