<div class="col">
  <app-header [active]="2"></app-header>
  <div class="main-content col">
    <div class="section-one">
      <div class="container row justify-center">
        <h2 class="page-title">Company</h2>
      </div>
    </div>

    <div class="section-two">
      <div class="slim-contents row justify-between align-start">
        <div class="section-content col">
          <div class="title">Our Mission</div>
          <p class="desc">
            Separating fact from fiction with a dose of data
          </p>
          <p class="desc">
            We create engaging, interactive, and contextual data visualizations that enhance storytelling and further reader understanding.
          </p>
          <p class="desc">
            We specifically designed HiGeorge so it would be easy for journalists to supplement their articles with rich data interactives. 
            With HiGeorge, publishers can overcome the burden of manual data entry and completely bypass the need for any data background or experience.
             Journalists focus on the narrative, and we supply the data.

          </p>
          <p class="desc">
            All of our visualizations can be localized and customized to meet each publisher’s requirements, so HiGeorge can be used by any newsroom in America. 
            By supporting and strengthening publishers across the country, we aim to ensure that all readers can be well-informed about their own communities. 

          </p>
        </div>
        <div class="images">
          <img src="assets/images/company/bg.svg" />
        </div>
      </div>
    </div>

    <div class="section-three">
      <div class="container">
        <div class="slim-contents row justify-between">
          <div class="section-content col">
            <div class="title">Leadership</div>
            <p class="desc">
              HiGeorge was founded by Anuj Saigal, Amir Zohrenejad, and Jon Tien. 
            </p>
            <p class="desc">
              The company is supported by a seasoned advisory board that consists of executives
              from top organizations in media, advocacy, and technology.
            </p>
          </div>
          <div class="profiles col">
            <div class="profile row">
              <img src="assets/images/company/anuj.png">
              <div class="col">
                <span class="name">Anuj Saigal</span>
                <span class="pos">CEO & CO-FOUNDER</span>
                <p>
                  JPMorgan, Nauto (Greylock-backed AI startup),<br/>
                  Northwestern Kellogg MBA UC Berkeley Economics]
                </p>
              </div>
            </div>
            <div class="profile row">
              <img src="assets/images/company/amir.png">
              <div class="col">
                <span class="name">Amir Zohrenejad</span>
                <span class="pos">CTO & CO-FOUNDER</span>
                <p>
                  Microsoft<br/>
                  UC Berkeley Engineering
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-four">
      <div class="slim-contents row">
        <div class="section-content col">
          <div class="title">Careers</div>
          <p class="desc">
            Passionate about building and deploying next generation technology
            in a mission-driven organization? If so, let's talk.
          </p>
          <p class="desc">
            We are looking for “athletes,” with the ability to carry out multiple functions.
            We place the highest priority on those who want to learn and work hard,
            rather than years of experience.
          </p>
        </div>
        <div class="positions row justify-between">
          <div class="position col justify-between align-start">
            <div class="col">
              <span class="name">Front-End Software Developer</span>
              <p>
                Design efficient and reusable front-end systems that
                drive complex web applications.
              </p>
            </div>
            <a href="#" (click)="trackClick('job_details', 'frontend_dev')">Details</a>
          </div>
          <div class="position col justify-between align-start">
            <div class="col">
              <span class="name">Marketing Manager</span>
              <p>
                Plan and execute digital marketing, email, social media campaigns.
                Track performance of all digital marketing campaigns.
              </p>
            </div>
            <a href="#" (click)="trackClick('job_details', 'marketing_manager')">Details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-five">
      <app-touch-panel></app-touch-panel>
    </div>
  </div>
  <app-footer></app-footer>
</div>
