<div class="col">
  <app-header [active]="-1"></app-header>
  <div class="main-content col">
    <div class="section-one">
      <div class="container col">
        <div class="section-content row">
          <div class="col">
            <h2>Add Data Visualizations to All Your Articles
            </h2>
            <div class="desc">
              HiGeorge creates data visualizations that you can drag-and-drop into articles. No data background required. 
              We make sense of data so that you don’t have to. 
            </div>
            <div class="links row">
              <app-button url="/" color="blue">Contact us to start</app-button>
              <a class="row link-red" (click)="trackClick('homepage_how_it_works')" [routerLink]="['/how-it-works']">
                How it works
                <mat-icon aria-hidden="false">arrow_right_alt</mat-icon>
              </a>
            </div>
          </div>
          <div class="image col">
            <img class="bg" src="assets/images/home/1.jpg" />
          </div>
        </div>
        <div class="col">
          <div class="subtitle row">Our Partners</div>
          <div class="logos row justify-center">
            <!--<a
              *ngFor="let logo of logos"
              class="logo row justify-center"
              [routerLink]="['/case-study', logo]"
              (click)="trackClick('case_study', logo)"
            >
              <img [src]="'assets/images/logos/' + logo + '.png'">
          </a> -->
           <div
              *ngFor="let logo of logos"
              class="logo row justify-center"
              
              (click)="trackClick('case_study', logo)"
            >
              <img [src]="'assets/images/logos/' + logo + '.png'">
        </div> 
          </div>
        </div>
      </div>
    </div>

    <div class="section-two">
      <div class="slim-contents">
        <div class="col">
          <div class="subtitle"></div>
          <h3>Turn-key Visualizations</h3>
          <div class="desc">
            All visualizations are ready-to-use, include the necessary datasets, and require no coding whatsoever. 
            Just choose what you want and drag and drop into WordPress.
          </div>
          <div class="links row">
            <app-button url="/how-it-works">See how it works</app-button>
          </div>
          <div class="image-1 row">
            <img src="assets/images/home/4.jpg" />
          </div>
        </div>
        <div class="col">
          <div class="image-2 row">
            <img src="assets/images/home/2.jpg" />
          </div>
          <div class="image-3 row">
            <img src="assets/images/home/3.jpg" />
          </div>
        </div>
      </div>
    </div>

    <div class="section-three">
      <div class="slim-contents row justify-between align-start">
        <div class="col">
          <div class="subtitle"></div>
          <h3>The HiGeorge Visualization Library</h3>
          <p>
            Our library contains a wide array of interactive data visualizations to supplement different articles and storylines - all of which can be localized to any region and customized to meet specific requirements.
          </p>
          <div class="items col">
            <div class="row">
              <img src="assets/images/icons/check-green.svg">
              Auto updated with latest data
            </div>
            <div class="row">
              <img src="assets/images/icons/check-green.svg">
              Summary information for each metric
            </div>
          </div>
          <div class="links row">
            <app-button  url="/visualizations" color="white">See our library</app-button>
          </div>
        </div>
        <div class="image row">
          <img src="assets/images/home/5.svg">
        </div>
      </div>
    </div>

    <div class="section-four">
      <div class="slim-contents">
        <div class="col flex-1">
          <div class="subtitle">Why us</div>
          <h3>Loved by Journalists, Engaging for readers</h3>
          <div class="desc">
            HiGeorge believes in the democratization of data visualizations. 
            We are committed to helping newsrooms enhance their existing reporting and further reader understanding.

          </div>
        </div>
        <div class="col flex-1">
          <div class="tip col align-start">
            <img src="assets/images/home/money.svg" />
            <h5>Increase Engagement</h5>
            <p>Readers are able to interact with our visualizations, thereby increasing engagement and pageviews</p>
          </div>
          <div class="tip col align-start">
            <img src="assets/images/home/profile.svg" />
            <h5>Easy to Deploy</h5>
            <p>
              Embed into WordPress (or any other CMS) with a simple copy/paste
            </p>
          </div>
        </div>
        <div class="col flex-1">
          <div class="tip col align-start">
            <img src="assets/images/home/engagement.svg" />
            <h5>AI-Powered Reporting</h5>
            <p>Increase your breadth of coverage without additional resources by leveraging the power of AI</p>
          </div>
          <!--<div class="tip col align-start">
            <img src="assets/images/home/wifi.svg" />
            <h5>AI-Powered Reporting</h5>
            <p>Our AI-powered journalism provides expanded breadth of coverage</p>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
