<mat-card class="widget-card">
  <mat-card-header>
    <div mat-card-avatar class="widget-header-image"></div>
    <mat-card-title>{{embedTitle}}</mat-card-title>
    <mat-card-subtitle>{{embedSubtitle}}</mat-card-subtitle>
  </mat-card-header>
  <div class="widget">
    <iframe style="display:block;" [cachedSrc]="iframeSRC" frameBorder="0"></iframe>
  </div>
  <div class="widget-card-content">
    {{embedDescription}}
  </div>
  <div class="widget-card-action">
    <span class="embed-code-box">{{embedCodeHTML}}</span>
    <button mat-flat-button (click)="getCodeForWidget()" ngxClipboard [cbContent]="embedCodeHTML">
      Copy Embed Code
    </button>
  </div>
</mat-card>