<app-header [active]="1"></app-header>
<div class="component">
  <div class="headerText">
    <div class="title">Data Visualization Library</div>
    <div class="subtitle">Enhance your coverage with engaging, ready-to-use data visualizations.</div>
    <ul class="description">
      <li>
        No coding or manual work required - we completely automate the data content work flow
      </li>
      <li>
        All visualizations are localized for your readers
      </li>
      <li>
        Seemlessly embed visualizations with a quick copty/paste
      </li>
      <li>
        Don't see a visualizatin that you need?
        <a style="text-decoration:none" (click)="trackClick('library_help_find')" href="/contact">
          Send a Request!
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="searchContainer">
      <div class="searchBar">
        <div class="searchTitle">Find the perfect visualization for your story</div>
        <app-search (update)="updateSearchParams($event)" [params]="queryParams"></app-search>
        <div class="searchTitle">Ready to deploy?</div>
        <div style="margin:auto"><app-button url="/contact">CONTACT US</app-button></div>
      </div>
    </div>

    <div class="list">
      <div *ngFor="let embed of embedList; let idx = index;" class="widget-box">
        <div class="widget-content" *ngIf="idx < limit">
          <app-widget [title]="widgetTitle" [campaign]="embed" [mobile]="width < 1058"></app-widget>
        </div>
      </div>
    </div>
  </div>
</div>