<app-header [active]="1"></app-header>
<div class="component">
  <div class="headerText">
    <div class="title">Demo Our Visualizations</div>
    <div class="subtitle">
    Interested in other <a href="./visualizations">visualizations</a>? Let's <a href="./contact">chat</a>.</div>
  </div>
  <div class="spinner" *ngIf="visualizations.length === 0">
    <mat-spinner></mat-spinner>
  </div>
  <div class="container">
    <div class="widgets-wrapper" *ngIf="visualizations.length > 0">
      <!-- <div class="spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div> -->
      <div class="widget-list">
        <div *ngIf="!submitted">
          <div class="widget" *ngFor="let image of defaultImg; let i = index" [attr.data-index]="i">
            <img class="default-img" [src]="defaultImg[i]">
            <div class="embed">
              <input type="text" [value]="defaultEmbed[i]" class="embed-code" readonly>
              <app-button class="embed-button" type="submit">Copy Embed Code</app-button>
            </div>
          </div>
        </div>
        <div *ngIf="submitted">
          <div class="widget" *ngFor="let widget of visualizations; let i = index" [attr.data-index]="i">
            <iframe [id]='"iframe-viz-"+i' style="display:block;" [cachedSrc]="widget.url" frameBorder="0"
              [height]="isMobile ? widget.heightMobile : widget.heightDesktop"></iframe>
            <div class="embed">
              <input type="text" [value]="getEmbedCode(isMobile ? widget.heightMobile : widget.heightDesktop, widget.url)" class="embed-code" readonly #iframetext>
              <app-button class="embed-button" type="submit" (change)="copyEmbed(iframetext)">Copy Embed Code</app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>