<app-header></app-header>

<div class="page_wrapper">
   
<div class="header_text"><h1 >Y Combinator Funds HiGeorge</h1></div>

<div class="byline_wrapper">
  
    <div class="avatar_image_wrapper">
    
    <img class="avatar_image" src="assets/images/company/anuj.png">
   
    <p class="avatar_name">ANUJ SAIGAL</p>  
     <p class="avatar_title"> Co-Founder and CEO at HiGeorge</p>
    
    </div>
   
</div>

<div class="hero_image_wrapper">
    <img class="hero_image" src="assets/images/announcements/YC_announcement.png">
</div>

<div class="main_content">

    
   <p>HiGeorge enables media companies to easily create compelling, interactive visualizations that are on par with the NYTimes. </p> 

  
   <p>At the onset of the pandemic, it became clear that newsrooms often do not have the resources to analyze large datasets and produce visualizations, limiting their ability to inform communities on a wide variety of topics. Most newsrooms in America cannot afford the large data teams required to build elegant charts and graphs to supplement their reporting.</p>  
   <div class="graph_right">
    
        <iframe class="iframe_one" style="display: block;" width="100%"  frameborder="0" scrolling="no" src="https://app.hi-george.com/v2/smartviz/covidCAVaccineLocations?lat1=37.978845&lon1=-122.759532&lat2=37.199706&lon2=-121.609251&partner=SFGate&title=COVID%20Vaccine%20Locations&subtitle=San%20Francisco%20Bay%20Area"></iframe>
    
    </div>
    <p>Enter HiGeorge. HiGeorge discovers, cleans, and aggregates datasets, turning them into auto-updating data visualizations that any writer and editor can use with a simple embed. Think Tableau, with pre-populated data. By centralizing data discovery, ingestion, and cleaning, HiGeorge’s real-time data visualizations are 90% cheaper than building visualizations in-house.</p>

    <p>HiGeorge has tripled revenue in the last 3 months. Today, dozens of publishers and writers use HiGeorge, including large sites like Tribune Publishing’s 
        <a href="https://www.nydailynews.com/coronavirus/ny-nyc-covid-anniversary-march-1-20210301-to77mznjjbhrfaolqlbsxajihm-htmlstory.html" target="auto">New York Daily News</a>
         and <a href="https://www.baltimoresun.com/coronavirus/bs-md-vaccine-sites-map-20210223-xu3qj32tpff4fegvf7mysqmu4q-htmlstory.html" target="auto">The Baltimore Sun</a>, Lee Enterprises’ <a href="https://journalstar.com/news/state-and-regional/govt-and-politics/high-risk-younger-nebraskans-in-next-covid-19-vaccination-phase/article_c1517447-a178-5a2e-b3f8-ca59a15d1206.html#tracking-source=home-top-story-1" target="auto">Lincoln Journal Star</a>, and local sites like the
          <a href="https://lakehighlands.advocatemag.com/2021/02/data-crime-trends-in-dallas-lake-highlands-in-early-february/" target="auto">Advocate</a> and <a href="https://missionlocal.org/crime-data/" target="auto">Mission Local</a>. HiGeorge’s data visualizations have paid off. Since using HiGeorge, newsrooms on average have seen 2x more pageviews, a 75% increase in session duration, and increased reader engagement. HiGeorge has also recently expanded to work with Substack writers, with more announcements to come.</p>


    <div class="graph_full">
        <iframe class="iframe_two" src="https://app.hi-george.com/v2/smartviz/unemploymentRateTimeseries?state=Washington&county=King%20County&nocache=" frameborder="0" scrolling="no">
    
        </iframe>
        </div>
    <p>The HiGeorge team combines experience from tech and journalism to bring quality data content to all newsrooms and communities, with an advisory board from the New York Times, The Guardian, and Wired. Investors include the first Airbnb employee, Y Combinator, and founders of Freckle Education.
    </p>
</div>



</div>
<app-footer></app-footer>
