@import '../../../assets/mixin';

:host {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
      padding: 0 15px;
      font-size: 26px;
      margin-bottom: 0px;
      .subtitle {
        margin-top: 0px;
        color: rgba(0,0,0,.54);
        font-family: 'Lato';
      }
    }

    .location {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      margin-top: 15px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 15px 0;

      .tag {
        font-family: 'Lato';
        border-radius: 5px;
        padding: 10px 20px;
        color: rgba(0,0,0,.54);
        background-color: rgba(0, 0, 0, 0.2);
        margin-right: 8px;
        margin-bottom: 4px;
      }
    }

    &.desktop {
      .location {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;

        &.fields-2 {
          top: -40px;
        }
      }
    }
  }
}
