<div class="container" *ngIf="campaign">
  <div class="info">
    <div class="title">{{campaign.embedTitleInLibrary}}</div>
    <div class="subtitle">{{campaign.embedSubtitleInLibrary}}</div>
    <div class="guide">
      <mat-icon>arrow_right_alt</mat-icon>
      <span>
        <a>Request</a> for interactive version with dropdown for reader to select their city.
      </span>
    </div>
    <button (click)="openDialog()">Use this graph</button>
  </div>
  <div class="widget">
    <div class="label">What your readers will see</div>
    <div class="iframeWrapper">
      <iframe style="display:block;" [cachedSrc]="iframeSRC" frameBorder="0"></iframe>
    </div>
  </div>
</div>