<div class="bg">
  <div class="main-content slim-contents col">
    <div class="header col align-center">
      <a href="/"><img class="logo" src="assets/images/logos/hi-george.svg" /></a>
      <div class="title">Data Visualizations for Newsrooms</div>
    </div>

    <div class="frame-wrapper shadow-container" *ngFor="let id of ids; index as i">
      <iframe [cachedSrc]="'https://callyourcongressperson.com/datainteractive/' + id + '?' + queryParams[i].toString()" width="100%" [height]="previewHeights[i] + 'px'"></iframe>
    </div>
    
    <app-touch-panel></app-touch-panel>
  </div>
</div>