@import '../../../assets/colors';
@import '../../../assets/breakpoints';

:host {
  .bg {
    width: 100%;
    background-color: rgb(241, 243, 250);
  }
  .title {
    font-family: Lato-Bold;
    font-size: 11px;
    line-height: 24px;
    color: $color-text-purple;
    text-transform: uppercase;
  }

  .main-content {
    overflow: hidden;
    padding: 60px 24px;

    .header {
      margin-bottom: 45px;
    }

    iframe {
      border: none;
    }

    .frame-wrapper {
      margin-bottom: 45px;
    }

    .shadow-container {
      background-color: rgb(247, 249, 253);
      border-radius: 4px;
      padding: 10px 20px;
      border: 1px solid #DBE6FA;
      box-shadow: 1px 1px 12px 6px rgba(57,49,216,0.1);
    }

    @include sm {
      .shadow-container {
        background-color: inherit;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
      }
    }
    
  }
}
