@import '../../../assets/colors';
@import '../../../assets/breakpoints';

:host {
  .title {
    font-family: PlayfairDisplay-Bold;
    font-size: 39px;
    line-height: 52px;
    color: $color-title-blue;
  }

  .desc {
    font-family: Lato;
    font-size: 18px;
    line-height: 29px;
    color: $color-text-blue;
  }

  .page-title {
    font-family: PlayfairDisplay-Bold;
    font-size: 59px;
    line-height: 79px;
    color: $color-title-purple;
    margin: 0;
  }

  .main-content {
    overflow: hidden;

    .section-one {
      padding: 0 16px;

      .container {
        height: 280px;
        background-color: $color-bg-purple;
      }
    }

    .section-two {
      padding: 55px 24px 200px;

      .contents {
        .section-content {
          width: 50%;
          padding: 0 15% 0 10%;

          .title {
            margin-bottom: 32px;
          }

          .desc {
            margin-bottom: 40px;
          }
        }

        form {
          margin-top: -100px;
          width: 50%;
          padding: 45px 72px;
          background-color: white;
          box-shadow: 1px 1px 64px 0 rgba(57,49,216,0.18);

          .form-content {
            width: 100%;
            mat-form-field {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  @include md {
    .page-title {
      font-size: 29px;
      line-height: 38px;
    }

    .title {
      font-size: 27px;
      line-height: 37px;
    }

    .desc {
      font-size: 13px;
      line-height: 21px;
    }

    .main-content {
      .section-one {
        .container {
          height: 160px;
        }
      }

      .section-two {
        padding-bottom: 60px;

        .contents {
          .section-content {
            padding: 0;
            width: 40%;
          }

          form {
            width: 60%;
            padding-left: 32px;
            padding-right: 32px;
            margin-top: -80px;
          }
        }
      }
    }
  }

  @include sm {
    .main-content {
      .section-two {
        padding-top: 30px;
        padding-bottom: 30px;

        .contents {
          flex-direction: column;

          .section-content {
            width: 100%;
          }

          form {
            align-items: center;
            width: 100%;
            margin-top: 0;
          }
        }
      }
    }
  }
}
