$color-title-purple: #5a38fd;
$color-title-blue: #130f67;

$color-subtitle-purple: #7c77c7;

$color-text-purple-strong: #4c48a8;
$color-text-purple: #9b97ed;
$color-text-purple-light: #d3d1ff;
$color-text-grey: #495073;
$color-text-blue: #130f67;
$color-text-red: #e41f32;

$color-button-blue: #3931d8;
$color-button-purple: #5f2ee5;
$color-button-hover-purple: #501cde;
$color-button-grey: #6c6c6c;
$color-button-hover-grey: #858585;

$color-bg-purple: #eceef8;
$color-bg-blue: #24205e;
