$color-title-purple: #5A38FD;
$color-title-blue: #130F67;

$color-subtitle-purple: #7C77C7;

$color-text-purple-strong: #4C48A8;
$color-text-purple: #9B97ED;
$color-text-purple-light: #D3D1FF;
$color-text-grey: #495073;
$color-text-blue: #130F67;
$color-text-red: #E41F32;

$color-button-blue: #3931D8;

$color-bg-purple: #ECEEF8;
$color-bg-blue: #24205E;
